/*I've chosen to do different css files for each html page, as well as a seperate one for consistent elements like header & footer - 
This came from discussing with mentor that this is a good practise to get into early on (even though my site isn't nearly big enough for this to affect loading times).
I also found it helped a lot with organising my css.
This page focuses on the get-involved page)*/
@import url('https://fonts.googleapis.com/css2?family=Anton&|Montserrat:100,200,300,400,500,600,700,800,900');

body {
    background-color: #f2edeb;
}

.get-involved {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
    color: #404040;
}

.get-involved h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

section {
    padding: 45px 45px 45px 45px;
}

hr {
    width: 60%;
}

/*--Headers--*/

.page-head {
    padding: 45px 40px 30px 40px;
    font-size: 50px;
}

.get-involved-intro {
    padding: 0 45px 30px 45px;
}

.section-head {
    padding-bottom: 30px;
    font-size: 40px;
}

/*--List Styling--*/

    /*--List of benefits needed styling seperatley because the center alignment made it look weird, 
    so instead I left aligned it and put in some padding to center it, as well as a media query to make lessen the padding on smaller screens--*/

.benefits{
    text-align: left;
    margin-left: 26%;
    margin-right: 26%;
}

@media only screen and (max-width: 768px) {
.benefits {
    margin-left: 5%;
    margin-right: 5%;
  }
}