@import url('https://fonts.googleapis.com/css2?family=Anton&|Montserrat:100,200,300,400,500,600,700,800,900');

.guests-container {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-left: 0;
    padding-right: 0;
    background-color: #f2edeb;
    color: #404040;
    min-height: 400px;
}

.guests-container h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

.guests-container ul {
    list-style: none;
}

.card {
    float: left;
}

.guests-header{
    position: relative;
    text-align: center;
}