@import url('https://fonts.googleapis.com/css2?family=Anton&:100,200,300,400,500,600,700|Montserrat&display=swap');

 
.menu {
    background-color: #404040;
    font-family: 'monserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
 }

.menu a {
    color: #f2edeb
}

ul {
    margin:0
}

li img {
    padding:0;
    margin:0;
}

.list-inline {
    height: 100%;
}

.logo {
    margin:0;
    width: 40%;
    height: 100%
}

.logo h1 {
    color:#ffe186;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    padding-top: 25px;
}

.logo p {
    color: #ffe186;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-bottom: 25px;
    padding-top: 15px;
}



.ch1 {
    padding-right: 100px;
    padding-left: 0;
}

.ch2 {
    padding-left: 60px;
    padding-right: 0;
    
}   
}

.menuitem {
    height: 260px;
    padding: 20px;
    width: 30%;   
}

h4 {
    margin: 0;
}

footer {
    background-color:#F2EDEB;
    color: #404040;
    min-height: 130px;
}

.sponsor {
    float: left;
    width: 20%;
    margin-left: 10%;
}

h1 {
    padding-top: 65px;
}


.navbar {
    display: inline;
    padding: 0;
}