@import url('https://fonts.googleapis.com/css2?family=Anton&|Montserrat:100,200,300,400,500,600,700,800,900');

.landing {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.landing h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}


/*----Callout----*/
.container-callout {
    background: url(../images/hero1.jpg) no-repeat center center;
    background-size: 1400px;
    background-repeat: no-repeat;
    vertical-align: middle;
    height: 600px;
    position: relative;
}
.jumbotron {
    height: 400px;  
    background: transparent;
}

.hero {
    height: 100vh

}

.callout {
    color: #ffe186;
    position: relative;
}

.info {
    padding-top: 35px;
}

.info h2 {
    font-size: 80px;
    letter-spacing: 6px;
    margin-bottom: 0;
}

.info h3 {
    font-size: 3.5rem;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: rgba(64,64,64,0.5);
  z-index: 2;
  /*--overlay snippet taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_overlay*/
}

/*----About----*/
.about {
    background: #ffe186;
    color: #404040;
}

/*----Key Info---*/

.key-info {
    background: #f2edeb
}

.no-bullets {
    list-style: none;
}

/*----Find Us----*/

.find-us {
    background: #ffe186;
    color: #404040;
}

/*---button---*/

.bookButton {
	background-color:#ffe186;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#404040;
	font-family: 'Anton', sans-serif;
	font-size:30px;
    text-transform: uppercase;
    letter-spacing: 2px;
	padding:13px 76px;
	text-decoration:none;
}
.bookButton:hover {
	color:#ffe186;
    background: #404040;
}
.bookButton:active {
	position:relative;
	top:1px;
}