@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap')


.logo {
    background: url("../images/logo5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    width: 260px;
    min-height: 200px;
    padding:0;
    margin:0;
    color: #ffe186;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-weight: 700;
    text-align: center;
}

.logo h1 {
    background-size: cover;
}

.navlinks {
    background-color: #404040;
    padding-top: 120px;
    margin: 0;
    font-family: 'monserrat', sans-serif;
    text-transform: uppercase;
}

.navlinks a {
    color: #f2edeb
}

.menuitem {
    height: 120px;
    padding: 60px; 
}

.right {
    float: right;
}

